*{background-color:palevioletred;
align-items: center;;}
button{
    display: inline-block;
    background:yellow;
    color:white;
    font-size: 24px;
    font-weight:normal;
    text-align: center;
    border-radius: 30px;
    transition: 400ms;
    text-decoration:solid;
    padding:10px;
    z-index:100000;
   width:100px;
   height:100px;
 justify-content: center; 
}

.main-heading h1{
    margin-bottom: 20px;
    margin-top:150px;
    text-align: center;
}
img{
    width:200px;
    height:200px;
    border-radius: 10px;
    margin-top:50px;
    text-align: center;;

}
